.cartItem {
  display: flex;
  background: #eee;
  flex-grow: 1;
  max-width: 100%;
  padding: 2rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
}
.cartItem .itemInfo {
  max-width: 100vw;
  width: 100%;
  padding: 1rem;
  position: relative;
}
.cartItem .itemDescription {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cartItem .itemDescription .itemName {
  font-size: 3rem;
}
.cartItem .itemDescription .itemPrice {
  font-size: 2.5rem;
}
.cartItem .itemDescription .itemPrice span:nth-of-type(1) {
  font-size: 2.5rem;
  color: rgba(255, 0, 0, 0.8);
}
.cartItem .itemDescription .itemPrice span:nth-of-type(2) {
  font-size: 2.25rem;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.6);
}
.cartItem .itemImage img {
  width: 20rem;
  height: min-content;
}
@media screen and (max-width: 480px) {
  .cartItem {
    flex-direction: column;
    max-width: 100vw;
  }
  .itemImage {
    max-width: 100vw;
    object-fit: contain;
    display: flex;
    justify-content: center;
  }
  .cartItem .itemDescription {
    flex-direction: column;
    max-width: 100vw;
    align-items: flex-start;
  }
  .cartItem .itemImage img {
    max-width: 80vw;
    height: auto;
  }
}
