.cartItem {
  display: flex;
  background: #eee;
  flex-grow: 1;
  max-width: 100%;
  padding: 2rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
}
.cartItem .itemInfo {
  width: 100%;
  padding: 1rem;
}
.cartItem .itemDescription {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cartItem .itemDescription .itemName {
  font-size: 3rem;
}
.cartItem .itemDescription .itemPrice {
  font-size: 2.5rem;
}
.cartItem .itemImage img {
  width: 20rem;
  height: 15rem;
}
.totalCost {
  min-width: 25%;
  font-size: 2rem;
  padding: 2rem;
}
.row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.25rem;
  border-radius: 1rem;
}
